<style>
    .booking-header { height: 150px; background:
    url('https://static.tkbcdn.com/site/global/content-v2/img/booking/header-bg-01.jpg'); background-size: cover;
    background-position: center center; color: white } .booking-header p { display: block ; } .booking-info { border:
    1px solid black; min-height: 200px; } .form { padding: 16px ;background-color: white;
    max-width: 360px; border: 1px solid rgb(230, 235, 245); box-sizing: border-box;
    border-radius:0px;  /* margin: auto; */ }
     table {
        font-size: 14px !important;
        
    }

    .block-header {
    border-bottom: 3px solid #ccc;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 16px;
    overflow: hidden;
}

.payment-single {
    cursor: pointer;
    border: 1.6px solid #ccc;
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 2px;
}

.payment-single img {
    width: 46.8px;
    height: 46.8px;
    border-right: 1.6px solid #ccc;
}

.payment-single span {
    display: inline-block;
    margin-left: 30px;
    line-height: 45px;
    font-weight: 700;
}

.selected {
    border-color: #98D8AA;
}

.selected img {
    border-color: #98D8AA;
}

.step-progress {
    height: 36px;
    line-height: 36px;
    font-weight: 700;
    border-bottom: 2px solid #ccc;
}

.step {
    {{!-- border-right: 2px solid #ccc; --}}
}


</style>

<div class='booking-header text-center'>
    <div style='height:10px'></div>
    <h2>{{event.name}}</h2>
    <p>{{event.location}}</p>
    <p>{{event.occur_date.formatDate}}</p>

</div>

<div class='container'>
    
    {{!-- <form action="POST"> --}}
    <div class='row'>
        <div id="payment-list" class=' col-md-8'>
            {{#if tickets_type}}
                <table class='table table-stripe mt-5'>

                    <thead>
                        <tr class='text-uppercase'>
                            <th scope='col'>Loại vé</th>
                            
                            <th class='text-right' scope='col'>Giá vé</th>
                            <th class='text-center' scope='col'>Số lượng</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each tickets_type}}
                            <tr  data-price="{{price}}" data-name="{{name}}" data-code="{{code}}" data-quantity="{{quantity}}" class="ticket-items">
                                <td style="text-transform: capitalize;" scope='row'>{{name}}</td>
                                <td class='text-right'>{{price}}</td>
                                <td style='width: 8rem' class="text-center">
                                    {{{quanHTML}}}
                                </td>
                            </tr>
                        {{/each}}

                    </tbody>
                </table>


                <div class="block-header" ng-class="{'has-error': submitStep2Clicked &amp;&amp; !order.paymentInfo.paymentType}">
                    <h5 class="font-bold uppercase">
                        <span translate="T.STEP2.PAYMENT_METHOD" class="ng-scope">Hình thức thanh toán</span>
                    </h5><!-- ngIf: submitStep2Clicked && !order.paymentInfo.paymentType -->
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="payment-single selected">
                            <img src="https://www.nopcommerce.com/images/thumbs/0020327_paypal-commerce-the-official-integration.png" alt="">
                            <span class="px-3 py-3">Thanh toán trực tuyến Paypal</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="payment-single payment-internet">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpE1n3LSYgWeFqXQvJlKj_PwPxuSA2yM5OEQ&usqp=CAU" alt="">
                            <span class="px-3 py-3">Internet Banking</span>
                        </div>
                    </div>
                </div>
            {{else}}
            <div class="w-100 h4 text-center text-bold">Sự kiện chưa bán vé</div>
            {{/if}}
        </div>
        <div class='col-md-4'>
            <div class='w-100 booking-info form'>
                <div class='bill-content w-100'><!-- ngIf: order.buyerInfo.hasData() --><table
                        class='table table-striped valign-middle margin-bottom-0 ng-scope'
                        ng-if='order.buyerInfo.hasData()'
                    ><thead class='color-3'><tr><th colspan='3' class='uppercase text-left'><span
                                        class='font-bold ng-scope'
                                        translate='T.LAYOUT.BUYER_INFO'
                                    >Thông tin người nhận vé</span>
                                    <!-- ngIf: reviewingOrder --></th></tr></thead><tbody><tr><td
                                    class='color-a'
                                    width='10%'
                                ><i class='ti-user'></i></td><td
                                    class='text-left font-bold color-6'
                                    width='35%'
                                ><span translate='T.LAYOUT.FULL_NAME' class='ng-scope'>Họ tên</span></td><td
                                    class='text-right'
                                    width='55%'
                                ><span class='ng-binding'
                                    >Kuo Nhan Dung</span></td></tr><tr><td class='color-a' width='10%'><i
                                        class='ti-email'
                                    ></i></td><td class='text-left font-bold color-6' width='35%'><span
                                        translate='T.LAYOUT.EMAIL'
                                        class='ng-scope'
                                    >Email</span></td><td class='text-right' width='55%'><span
                                        ng-bind='order.buyerInfo.email'
                                        class='ng-binding'
                                    >nkeyskuo124@gmail.com</span></td></tr><tr><td class='color-a' width='10%'><i
                                        class='ti-mobile'
                                    ></i></td><td class='text-left font-bold color-6' width='35%'><span
                                        translate='T.LAYOUT.PHONE_NUMBER'
                                        class='ng-scope'
                                    >Điện thoại</span></td><td class='text-right' width='55%'><span
                                        ng-bind='order.buyerInfo.phoneNumber'
                                        class='ng-binding'
                                    >0767916592</span></td></tr>
                                </tbody>
                                    
                                    </table>
                                    
                            </div>
                </div>


                <div style="background-color: #444" class="sum rounded bottom color-white padding-20">
                    <table style="color: white" class="w-100">
                        <tbody>
                            <tr>
                                <td>
                                    <strong translate="T.LAYOUT.TOTAL" class="ng-scope">Tổng cộng</strong>
                                </td>
                                <td class="text-right">
                                    <strong><span id="total" ng-bind="order.finalAmount || 0 | number" class="ng-binding">0</span> </strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="margin-top: 30px; line-height: 30px" class="w-100 btn btn-success" data-customer="{{user_id}}" id="btnPay">Tiếp tục</div>
                {{!-- <form action="/pay" method="post"> --}}
                    <input id="booking_id" name="booking_id" type="hidden">
                    <button type="submit" style="margin-top: 30px; line-height: 30px" class="w-100 btn btn-success" id="btnConfirm">Thanh toán</button>
                {{!-- </form> --}}
        </div>

        
        </div>
    </div>
    {{!-- </form> --}}
</div>

<script>
    $(document).ready(function() {
        $('#btnConfirm').hide();
       })
    $('.payment-internet').click(function() {
        alert('Phương thức thanh toán này đang được bảo trì');
    })

    $('#btnPay').click(function() {
        let items = $('.ticket-items')
        let customer = $(this).data('customer');
        
        let list = [];
        for(let i = 0; i < items.length; i++) {
            let code = $(items[i]).data('code');
            let name = $(items[i]).data('name');
            let price = $(items[i]).data('price');
            let quantity = $(items[i]).children().children().children().val();
            
            if(quantity > 4) {
                alert('Bạn chỉ có thể mua tối đa 4 vé mỗi loại');
                return;
            }

            if(quantity > 0) {
                list.push({code, name, price, quantity})
            }
        }

        var total = 0;
        var ticket_info = '';
        for(let i = 0; i < list.length; i++) {
            let money = parseInt(list[i].price.replaceAll('.',""));
            total += money * list[i].quantity;
            ticket_info += `
                <tr class='ng-scope'>
                    <td>
                        <div
                                class='ticket-type ng-binding'
                                ng-bind='orderDetail.ticketType.title'
                            >${list[i].name}
                        </div>
                        <div class='font-085 color-6'>
                            <span
                                    ng-bind='orderDetail.ticketType.applyingPrice | number'
                                    class='ng-binding'
                                >${list[i].price}
                            </span>
                            
                        </div>
                        <div
                                class='clearfix'
                            ><small></small>
                        </div>
                    </td>

                    <td
                            class='text-right'
                        >
                        <div>
                            <span ng-bind='orderDetail.quantity' class='ng-binding'>
                                ${list[i].quantity}
                            </span>
                        </div>

                        <div
                                class='font-085 color-6'
                            >
                            <span
                                    ng-bind='orderDetail.quantity * orderDetail.ticketType.applyingPrice | number'
                                    class='ng-binding'
                                >${list[i].price}
                            </span>
                            
                        </div>
                    </td>
                </tr>
            `
        }
        
        if(list.length > 0) {
            $.ajax({
                url: '/place-ticket',
                method: 'PUT',
                data: { list, total, customer },
                success: function(result) {
                    let data = result.data;
                    let ids = data.map(d => {
                        return d._id;
                    })

                    let booking = result.booking;
                    $('#booking_id').val(booking._id)
                    $('#total').text(total.toLocaleString('vi-vn', { style: 'currency', currency: 'VND'}));

                    $('.bill-content').append(`
                        <table class='table table-striped valign-middle margin-bottom-0 ng-scope'>
                                                <thead class='color-3'><tr><th
                                            colspan='2'
                                            class='font-bold uppercase text-left padding-left-0 padding-right-0'
                                        ><span translate='T.LAYOUT.PAYMENT_METHOD' class='ng-scope'>Hình thức thanh toán</span></th></tr></thead><tbody
                                >
                                <tr>
                                    <th
                                            colspan='2'
                                            class='text-left padding-left-0 padding-right-0'
                                        >
                                        <span style="font-weight: 500" class='ng-scope'
                                            >Paypal
                                        </span>
                                            
                                    </th>
                                    </tr>
                                        <table
                                            class='table table-striped valign-middle margin-bottom-0'
                                        >
                                            <thead class='color-3'><tr><th colspan='2' class='text-left'>
                                                <span
                                                    class='font-bold text-uppercase ng-scope'
                                                >Thông tin đặt vé
                                                </span>
                                            </thead>
                                            <tbody
                                
                                                <tr>
                                                    <td class='font-600 ng-scope' translate='T.LAYOUT.TICKET_TYPE'>Loại vé</td><td
                                                            class='font-600 text-right ng-scope'
                                                            width='90'
                                                            translate='T.LAYOUT.QUANTITY'
                                                        >Số lượng
                                                    </td>
                                                </tr>
                                                ${ticket_info}
                                             </tbody>
                                        </table>
                    `)

                    $('#payment-list').empty();
                    $('#payment-list').append(`
                        <div style="margin-top: 100px" class="w-100 mx-auto text-center">
                            <img width="100px" src="/img/EzTicket-logo.png" >
                        </div>
                        <div class="w-100 mx-auto text-center h3">Bạn có 20 phút để thanh toán đơn hàng của mình</div>
                        <div class="w-100 mx-auto text-center h4"><span id="minutes">00</span>:<span id="seconds">00</span></div>

                    `);

                    var minutesLabel = document.getElementById("minutes");
                    var secondsLabel = document.getElementById("seconds");
                    var totalSeconds = 0;
                    let timer = setInterval(setTime, 1000);

                    function setTime() {
                        ++totalSeconds;
                        
                        secondsLabel.innerHTML = pad(totalSeconds % 60);
                        minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));

                        if(totalSeconds == 1200) {
                            clearInterval(timer)
                            $.ajax({
                                url: '/displace-ticket',
                                method: 'PUT',
                                data: { ids, booking },
                                success: function(res) { 
                                    alert('Đơn hàng của bạn đã bị hủy');
                                    window.location.href = '/';
                                },
                                error: function(error) {
                                    alert('Đơn hàng đã hoàn thành');
                                    window.location.href = '/';
                                }
                            })
                            
                        }
                    }

                    function pad(val) {
                        var valString = val + "";
                        if (valString.length < 2) {
                            return "0" + valString;
                        } else {
                            return valString;
                        }
                    }

                    $('#btnPay').hide();
                    $('#btnConfirm').show();
                },
                error: function(err) {
                    alert('Số lượng vé không còn đủ');
                }
            })
        }
        else {
            alert('Vui lòng chọn vé trước khi thanh toán');
        }

       
    })

    $('#btnConfirm').click(function() {
        let booking_id = $('#booking_id').val();
        $.ajax({
            url: '/pay',
            method: 'POST',
            data: { booking_id },
            success: function(result) {
                if(result.code == 1) {
                    $('#payment-list').empty();
                    $('#payment-list').append(`
                        <div style="margin-top: 100px" class="w-100 mx-auto text-center">
                            <img width="100px" src="/img/EzTicket-logo.png" >
                        </div>
                        <div class="w-100 mx-auto text-center h3">${result.msg}</div>
                        

                    `);
                    $('#btnConfirm').hide();
                }

                else if (result.code == 2) {
                    window.open(result.url);
                }
            },
            error: function(err) {
                console.log(err);
            }
        })
    })
    
</script>