
<section class=''>

    {{!-- <script type='text/javascript'>
        var URL_VERSION = '4332', userId = 0, userEmail = null; var isFromMobileApp = 'False' === 'True'; var tkb =
        window.tkb || {}; window.tkb = tkb; window.isEventOver = 'False' tkb.siteSetting = tkb.siteSetting || { siteId:
        1, staticDomain: 'https://static.tkbcdn.com', staticRootPath: 'https://static.tkbcdn.com/dist/tkbvn',
        urlVersion: '4332', folderName: 'tkbvn', culture: { defaultCulture: 'en', currenctCulture: 'vi', listCulture:
        [{"id":1,"name":"Tiếng
        Việt","languageIsoCode":"vi","cultureIsoCode":"vi-VN","priority":1},{"id":2,"name":"English","languageIsoCode":"en","cultureIsoCode":"en-US","priority":2}]
        }, currency: { name: 'Vietnamese Dong', isoCode: 'VND', symbol: '₫' }, tracking: { gaTrackingId:
        'UA-44294974-1', fbTrackingId: '' } }; tkb.data = {};
    </script> --}}
    <style>
        iframe[name='google_conversion_frame'] { height: 0 !important; width: 0 !important; line-height: 0 !important;
        font-size: 0 !important; margin-top: -13px; float: left; }
    </style>

    <section class='banner bg-white margin-bottom-20 border-bottom-grey-dark'>

        <div class='cover-photo skeleton'>
            <img src="{{event.banner}}" alt="">
        </div>

        <div class='container'>
            <div class='row'>
                <!-- event's info summary -->
                <div class='event-info'>
                    <div class='event-name text-center'>
                        <div class='col-sm-7 col-md-8'>
                            <div
                                class='calendar-image single-border mobile-invisible padding-left-0 padding-right-0 text-bold'
                            >
                                <p class='month'>Tháng {{event.occur_date.month}}</p>
                                <p class='date'>{{event.occur_date.day}}</p>
                                <p class='day'>{{event.occur_date.thu}}</p>
                            </div>

                            <div class='event-name-content padding-left-0 padding-right-0'>
                                <div class='col-sm-12'>
                                    <h1 class='title grey-dark-color'>{{event.name}}</h1>
                                </div>
                                <!-- START Mobile Display Only-->
                                <div class='button-gr btn-count col-xs-12 col-sm-12 visible-xs'>
                                    {{!-- <div class="bookingBtn btn btn-danger"></div> --}}

                                    <div id='shareBtn3' shareSocial='fbShare' class='col-xs-6 btn-wr'>
                                        <a class='btn-first fshare-button border-grey' target='blank'><i
                                                class='ti-link'
                                            ></i>Chia sẻ</a>
                                    </div>

                                    <div class='dropdown col-xs-6 btn-wr'>
                                        <a
                                            class='follow-event btn-last add-calendar-button border-grey'
                                            style='color: #2DC275'
                                        >
                                            <i class='ti-heart' style='font-weight: bold'></i>
                                            Quan t&#226;m
                                        </a>
                                        {{!-- <a
                                            class='followed-event btn-last add-calendar-button border-grey'
                                            style='color: #2DC275; display: none'
                                        >
                                            <i class='ello-heart' style='font-weight: bold'></i>
                                            Đ&#227; quan t&#226;m
                                        </a> --}}
                                    </div>

                                    <div class='clearfix'></div>
                                </div>
                                <div
                                    class='button-gr btn-count col-xs-12 col-sm-12 visible-xs'
                                    style='margin-top: 0px; color: #606778'
                                >
                                    <span class='followers-id'>--</span>
                                    người quan t&#226;m
                                </div>
                                <!-- END Mobile Display Only -->
                                
                                <div class='cnt-left col-xs-12 col-sm-12 padding-left-0 padding-right-0'>
                                    <div class='event-time col-sm-12 pd-hor-15'>
                                        <div class='inline-bl'>
                                            <p class='grey-dark-color text-bold text-indent txt-16'>
                                                <i class='ti-time icon text-bold grey-bright-color5 px-5'></i> &nbsp;&nbsp;
                                                {{event.occur_date.thu}}, {{event.occur_date.formatDate}} ({{event.time}})
                                            </p>

                                        </div>

                                        <div class='clear'></div>
                                    </div>
                                    <div class='event-venue border-top-grey col-sm-12 pd-hor-15'>

                                        <p class='grey-dark-color text-bold text-indent txt-16'><i
                                                class='ti-location-arrow icon grey-bright-color'
                                            ></i>&nbsp;&nbsp;&nbsp; {{event.location}}</p>
                                        <p class='grey-white-color note'>&nbsp;&nbsp;&nbsp; {{event.address}}</p>
                                    </div>

                                    <a
                                        href='#booking'
                                        class='event-price border-top-grey col-sm-12 pd-hor-15 desktop-invisible page-scroll'
                                        style='display:block;'
                                    >
                                        <p class='text-indent'><i class='ti-money icon grey-bright-color'></i>&nbsp;&nbsp;&nbsp; Từ
                                            <strong>249.000 VND</strong></p>
                                        {{!-- <i class='ti-money'></i> --}}
                                        <div class='clear'></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class='button-gr col-sm-5 col-md-4 pd-left-6 hidden-xs' banner-btn='banner-btn'>

                            <a
                                data-style='zoom-out'
                                class='ladda-button text-center white-color text-bold table-cell button-lg ver-middle btn-booking'
                                buttonType='buy-ticket'
                            >
                                Mua vé ngay
                            </a>

                            <!-- </div> -->
                            <div class='col-sm-12 padding-left-0 padding-right-0 btn-count'>
                                <div id='shareBtn' shareSocial='fbShare' class='col-sm-6 btn-wr'>
                                    <a class='btn-first fshare-button border-grey' target='blank'><i
                                            class='ti-link'
                                        ></i>Chia sẻ</a>
                                </div>
                                <div class='dropdown col-sm-6 btn-wr'>
                                    <a
                                        class='follow-event btn-last add-calendar-button border-grey'
                                        style='color: #2DC275'
                                    >
                                        <i class='ti-heart' style='font-weight: bold; font-size                                       xc                   faf a a a fa  : 11px'></i>
                                        Quan tâm
                                    </a>
                                    {{!-- <a
                                        class='followed-event btn-last add-calendar-button border-grey'
                                        style='color: #2DC275; display: none'
                                    >
                                        <i class='ello-heart' style='font-weight: bold'></i>
                                        Đ&#227; quan t&#226;m
                                    </a> --}}
                                </div>
                            </div>
                            {{!-- <div class='col-sm-12 padding-left-0 padding-right-0 btn-count' style='color: #606778'>
                                <span class='followers-id'>--</span>
                                người quan t&#226;m
                            </div> --}}
                        </div>
                    </div>
                </div>

            </div>

            <!-- #Mobile Display Only-->
            <div
                class='col-xs-12 fixed desktop-invisible bg-white border-top-grey booking-bl padding-left-0 padding-right-0'
            >
                <div class='col-xs-4 table-cell price-box ver-middle'>
                    <a href='#booking' class='page-scroll' target='blank'>Từ
                        <span class='text-bold'>249.000 VND</span></a>
                </div>
                <div class='col-xs-8 table-cell book-box text-center ver-middle'>
                    <a
                        buttonType='buy-ticket-ev-info'
                        data-style='zoom-out'
                        class='ladda-button white-color button-lg btn-booking force-hidden btn-booking'
                        target='blank'
                    >Mua v&#233; ngay</a>
                </div>
            </div>

            <!-- #Mobile Display Only-->
            <div class='clearfix'></div>
        </div>

        <!-- More Showing Time-->
        <div id='demo' class='bootstrap content'>
            <section id='examples'>
                <!-- Modal -->
                <div
                    class='modal fade show-time'
                    id='showTime'
                    tabindex='-1'
                    role='dialog'
                    aria-labelledby='myModalLabel'
                    aria-hidden='true'
                    data-backdrop='static'
                >
                    <div class='modal-dialog modal-sm'>
                        <div class='modal-content'>
                            <div class='modal-header text-center'>
                                <h4 class='modal-title'>Chọn thời gian diễn</h4>
                                <span class='ello-cancel-2 close-show-time hidden-xs' data-dismiss='modal'></span>
                            </div>
                            <div class='modal-body mCustomScrollbar pd-0' data-mcs-theme='dark'>

                                <div class='clearfix'></div>
                            </div>
                            <a class='close-show-time visible-xs' data-dismiss='modal'>Đ&#243;ng</a>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </section>

    <section class='mainContainer'>
        <nav class='navbar navbar-default hidden-xs'>
            <div class='container'>
                <div class='collapse navbar-collapse pl-pr-0' id='bs-example-navbar-collapse-1'>
                    <ul class='nav navbar-nav'>
                        <li>
                            <a class='page-scroll text-center' href='#intro' title='Giới thiệu'>Giới thiệu</a>
                        </li>
                        <li>
                            <a class='page-scroll text-center' href='#booking' title='Th&#244;ng tin v&#233;'>Th&#244;ng
                                tin v&#233;</a>
                        </li>
                        <li>
                            <a class='page-scroll text-center' href='#organizer' title='Nh&#224; tổ chức'>Nh&#224; tổ
                                chức</a>
                        </li>
                        <li>
                            <a class='page-scroll text-center' href='#similarEvent' title='Sự kiện cho bạn'>Sự kiện cho
                                bạn</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class='container left-bl pl-pr-0'>
            <div class='col-sm-12 col-md-8 pl-pr-0 specialBox'>
                <section class='intro' id='intro'>
                    <!--Use id for adding "active" class since it's unique-->
                    <!-- <div class=""> -->
                    <div class='row'>
                        <div class='col-sm-12 col-md-12 pl-pr-0'>
                            <h3 class='title'>Giới thiệu</h3>
                            <div class='col-xs-12 box detail-box'>
                                <div class='really-height'>
                                    <p style='text-align: center'><strong>PEPSI presents RAVOLUTION MUSIC FESTIVAL</strong></p>

                                    <p style='text-align: center'><span
                                            style='font-family: arial, helvetica, sans-serif'
                                        ><span style='font-size: 14px'><span style='color: rgb(8, 28, 54)'>• Date:
                                                    20.05.2023
                                                </span></span></span></p>

                                    <p style='text-align: center'><span
                                            style='font-family: arial, helvetica, sans-serif'
                                        ><span style='font-size: 14px'><span style='color: rgb(8, 28, 54)'>• Location:
                                                    Vinhomes Ocean Park 2
                                                </span></span></span></p>

                                    <p style='text-align: center'><span style='font-size: 14px'><span
                                                style='font-family: arial, helvetica, sans-serif'
                                            ><span style='color: rgb(8, 28, 54)'>• Headliner Phase 1: R3HAB, VINI VICI,
                                                    KAAZE, ANDREW RAYEL</span></span></span></p>

                                    <p>Ravolution Music Festival - Lễ hội Âm nhạc Điện tử hàng đầu Việt Nam thuộc hệ
                                        sinh thái Ravolution Asia, với qui mô tổ chức tiêu chuẩn quốc tế cùng dàn Lineup
                                        các nghệ sĩ hàng đầu từ khắp thế giới. Ngày 20 tháng 5 năm 2023, lần đầu tiên
                                        sau 5 năm vắng bóng các lễ hội âm nhạc điện tử tại thánh địa miền Bắc, Pepsi
                                        presents Ravolution Music Festival sẽ mang văn hoá Rave Culture cùng âm nhạc
                                        điện tử và bầu không khí sôi động trở lại với các Ravers miền Bắc. Đây sẽ là một
                                        hành trình và trải nghiệm vô cùng đáng nhớ cho tất cả chúng ta. Hãy chuẩn bị để
                                        cháy hết mình vào mùa hè năm nay!</p>

                                    <p>---<br />
                                        Ravolution Music Festival - Vietnam's leading music festival with an
                                        international standard organization scale and line-ups of top artists from
                                        around the world – is a festival brand of Ravolution Asia ecosystem. This summer
                                        on 20/05/2023, for the first time after 5 years of absence of electronic music
                                        festivals in the North of Vietnam, Pepsi presents Ravolution Music Festival will
                                        bring Rave Culture with electronic music and a vibrant atmosphere back to the
                                        Northern Ravers. This will be an incredible experience and a memorable journey
                                        for all of us. Be ready to have a blast this summer!</p>

                                    <p style='text-align: center'><iframe
                                            height='360'
                                            data-src='//www.youtube.com/embed/JY0N7dQLb-c'
                                            width='640'
                                        ></iframe>\</p>

                                    <p><span
                                            style='color: rgb(32, 206, 136); font-family: wfont_2ce07c_766eb9c263e84c53b66a05d024f13b12, wf_766eb9c263e84c53b66a05d02, orig_utm_nokia'
                                        >english</span></p>

                                    <p>TICKET BUYING &amp; ACTIVATION PROCESS INFORMATION</p>

                                    <p>Step 1: Buy your Ticket</p>

                                    <p>Step 2: Receive your physical ticket delivered to your desired address</p>

                                    <p>Step 3: Activate your Ticket with the activation QR Code on Ravolution
                                        Website&nbsp;https://ravo.asia/ravolution&nbsp;(obligated)</p>

                                    <p>Step 4: Bring your physical ticket to the event venue&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p>TICKET POLICY&nbsp;</p>

                                    <p>By buying and owning the ticket, I will fully comply with the regulations and
                                        policies set up by the organizers:</p>

                                    <ul>
                                        <li>
                                            <p>Present the ticket before entering the event.</p>
                                        </li>
                                        <li>
                                            <p>This ticket is non-transferable and non-refundable.</p>
                                        </li>
                                        <li>
                                            <p>The minimum age requirement for this event is for people 18+&nbsp;</p>
                                        </li>
                                    </ul>

                                    <ul>
                                        <li>
                                            <p>By purchasing this ticket, I commit not to use any types of illegal items
                                                (drugs, weapons, explosive materials,...)</p>
                                        </li>
                                        <li>
                                            <p>Your official ID, passport, driver's license will be checked before
                                                entering the event (physical or digital proof is both acceptable). We
                                                don't accept these documents as proof: student ID, health insurance
                                                card, bank card/credit card.&nbsp;</p>
                                        </li>
                                        <li>
                                            <p>EA tickets are valid for one-time entry (before 16:00), GA and SVIP
                                                tickets are valid for multiple entrances (no time limit).</p>
                                        </li>
                                        <li>
                                            <p>I agree not to sue or claim the organizers for any damages/consequences
                                                due to the use of illegal items. I am fully responsible for my
                                                actions.&nbsp;</p>
                                        </li>
                                    </ul>

                                    <p><span
                                            style='color: rgb(32, 206, 136); font-family: wfont_2ce07c_766eb9c263e84c53b66a05d024f13b12, wf_766eb9c263e84c53b66a05d02, orig_utm_nokia'
                                        >VIETNAMESE</span></p>

                                    <p>THÔNG TIN QUY TRÌNH MUA VÉ &amp; KÍCH HOẠT</p>

                                    <p>Bước 1: Mua vé của bạn</p>

                                    <p>Bước 2: Nhận vé cứng giao tận nơi tới địa chỉ đã đăng ký</p>

                                    <p>Bước 3: Kích hoạt vé của bạn bằng mã QR trên trang web
                                        Ravolution&nbsp;https://ravo.asia/ravolution&nbsp; (bắt buộc)</p>

                                    <p>Bước 4: Mang theo vé cứng của bạn đến địa điểm tổ chức sự kiện</p>

                                    <p>ĐIỀU KHOẢN VÀ QUY ĐỊNH VÉ</p>

                                    <ul>
                                        <li>
                                            <p>Xuất trình vé khi tham gia sự kiện</p>
                                        </li>
                                        <li>
                                            <p>Vé không có giá trị thanh toán và chuyển nhượng</p>
                                        </li>
                                        <li>
                                            <p>Sự kiện chỉ dành cho người trên 18 tuổi</p>
                                        </li>
                                        <li>
                                            <p>Sau khi mua và sở hữu tấm vé này, tôi cam kết không sử dụng các chất/vật
                                                liệu cấm (chất kích thích, vật liệu gây cháy nổ, vũ khí,...)</p>
                                        </li>
                                        <li>
                                            <p>BTC sẽ kiểm tra giấy tờ xác thực trước khi vào cổng: căn cước công dân,
                                                hộ chiếu, bằng lái xe (bản mềm hoặc bản cứng đều được chấp nhận). Chúng
                                                tôi không chấp nhận những giấy tờ này làm bằng chứng: thẻ sinh viên, thẻ
                                                bảo hiểm y tế, thẻ ngân hàng/thẻ tín dụng.</p>
                                        </li>
                                        <li>
                                            <p>Vé EA có giá trị vào cổng 1 lần (trước 16h00), vé GA, SVIP có giá trị vào
                                                cổng nhiều lần (không giới hạn thời gian).</p>
                                        </li>
                                        <li>
                                            <p>Tôi đồng ý không kiện và đòi bồi thường BTC nếu có sử dụng các chất cấm.
                                                Tôi xin tự chịu trách nhiệm với bản thân trước pháp luật cho mọi hành
                                                động của mình.&nbsp;</p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class='clearfix'></div>
                            <p class='read-more arrow--sec'>
                                <a href='javascript:void(0)' class='btn' btntype='readmore'><span
                                        class='arrow ello-down-open grey-bright-color'
                                    ></span></a>
                            </p>
                        </div>
                        <div class='clearfix'></div>
                    </div>

                    <!-- </div> -->
                </section>
                <section class='ticket booking' id='booking'>
                    <!-- <div class=""> -->
                    <div class='row margin-bottom-0'>
                        <div class='col-sm-12 pl-pr-0'>
                            <h3 class='title'>Th&#244;ng tin v&#233;</h3>
                            <div class='panel-group margin-bottom-0' id='accordion'>
                                <div class='panel panel-default'>
                                    <div class='panel-heading'>
                                        <div class='panel-title'>
                                            <div
                                                class='row arrow--sec'
                                                data-toggle='collapse'
                                                data-parent='#accordion'
                                                href='#collapse1'
                                            >
                                                <div class='col-sm-7'>
                                                    <span class='arrow ti-ticket grey-bright-color'></span>
                                                    <p class='tic__name' data-ot='Early Access'>
                                                        Early Access
                                                    </p>
                                                </div>
                                                <div class='col-sm-5'>
                                                    <span
                                                        class='arrow ello-up-open visible-xs invisible grey-bright-color'
                                                    ></span>
                                                    <p class='tic__price'>

                                                        <strong>699.000 VND</strong><br />

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id='collapse1' class='panel-collapse collapse'>
                                        <div class='panel-body'>
                                            <div class='row'>
                                                <div tic='pic' class='col-sm-3'>
                                                    <img class='tic__pic' />
                                                </div>
                                                <div tic='detail' class='col-sm-9'>
                                                    <p class='tic__des'>

                                                        Check-in trư&#7899;c 16:00 gi&#7901;, khi đã check-out s&#7869;
                                                        không đư&#7907;c re-entry

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                </section>
                <section class='banner-center'>
                    <a href='#' target='_blank' data-typebanner='Center Banner'>
                        <img src='' alt='banner center' style='width: 100%' />
                    </a>
                </section>
                <section class='banner-center-mb'>
                    <a href='#' target='_blank' data-typebanner='Center Banner'>
                        <img src='' alt='banner center' style='width: 100%' />
                    </a>
                </section>
               

                <div class='breakpoint'></div>
            </div>
            <div data-opm='righbanner' class='col-sm-12 col-md-8 pl-pr-0 hidden-md hidden-lg'>

                <div class='banner-side-mb'>
                    <a href='#' target='_blank' style='display: block' data-typebanner='Side Banner'>
                        <img style='width: 100%' src='' alt='banner side' />
                    </a>
                </div>
            </div>

            <div class='col-sm-4 pd-left-6 padding-right-0 info-box-wr'>
                <div class='col-sm-12 pl-pr-0 hidden-xs hidden-sm'>
                    <div class='event-name-content animated' info-box='info-box'>
                        <div class='bg-white event-name-wrap'>
                            <h2 class='title'>{{event.name}}</h2>
                            <div class='s1'>
                                <i class='ti-time icon grey-bright-color'></i>
                                <div class='ev-txt'>
                                    <span class='block'>{{{event.time}}}</span>
                                </div>
                            </div>
                            <div class='s2'>
                                <i class='ti-location-arrow icon grey-bright-color'></i>
                                <div class='ev-txt'>
                                    <span>{{event.location}}</span>
                                    <p class='grey-white-color'>{{event.address}}</p>
                                </div>
                            </div>
                            <a href='.booking' class='border-top-grey page-scroll pd-15 block'>
                                <i class='ti-ticket icon grey-bright-color'></i>
                                <div class='ev-txt'>
                                    <span>Từ <strong>249.000 VND</strong></span>
                                    {{!-- <i class='ello-right-open grey-bright-color'></i> --}}
                                </div>
                            </a>

                            <a
                                data-style='zoom-out'
                                class='ladda-button text-center white-color text-bold table-cell button-lg ver-middle force-hidden btn-booking'
                                buttonType='buy-ticket'
                            >
                                Mua v&#233; ngay
                            </a>

                        </div>
                        <div class='btn-count'>
                            <div id='shareBtn2' shareSocial='fbShare' class='col-sm-6 btn-wr'>
                                <a class='btn-first fshare-button border-grey'><i class='ti-link' style="font-size: 11px"></i>Chia
                                    sẻ</a>
                            </div>
                            <div class='dropdown col-sm-6 btn-wr'>
                                <a class='follow-event btn-last add-calendar-button border-grey' style='color: #2DC275'>
                                    <i class='ti-heart' style='font-weight: bold; font-size: 11px'></i>
                                    Quan t&#226;m
                                </a>
                                <a
                                    class='followed-event btn-last add-calendar-button border-grey'
                                    style='color: #2DC275; display: none'
                                >
                                    <i class='ello-heart' style='font-weight: bold'></i>
                                    Đ&#227; quan t&#226;m
                                </a>

                            </div>
                        </div>

                        <div class='banner-side'>
                            <a href='#' target='_blank' style='display: block' data-typebanner='Side Banner'>
                                <img style='width: 100%' src='' alt='banner side' />
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class='clearfix'></div>
        </div>

        <div class='similarEvent similarEvent-bottom' id='similarEvent'>
            
        </div>

        <div class='container banner-bottom banner-bottom-dk pl-pr-0'>
            <div class='col-md-6 col-12 banner-bottom-left'>
                <div class='wrap-link-banner'>
                    <a href='#' target='_blank' data-typebanner='Left Bottom Banner'>
                        <img style='width: 100%' src='' alt='banner bottom left' />
                    </a>
                </div>
            </div>
            <div class='col-md-6 col-12 banner-bottom-right'>
                <div class='wrap-link-banner'>
                    <a href='#' target='_blank' data-typebanner='Right Bottom Banner'>
                        <img style='width: 100%' src='' alt='banner bottom right' />
                    </a>
                </div>
            </div>
            <div class='clearfix'></div>
        </div>

        <div class='container banner-bottom-mb pl-pr-0'>
            <div class='col-md-6 col-12 banner-bottom-left-mb'>
                <div class='wrap-link-banner'>
                    <a href='#' target='_blank' data-typebanner='Left Bottom Banner'>
                        <img style='width: 100%' src='' alt='banner bottom left' />
                    </a>
                </div>
            </div>
            <div class='col-md-6 col-12 banner-bottom-right-mb'>
                <div class='wrap-link-banner'>
                    <a href='#' target='_blank' data-typebanner='Right Bottom Banner'>
                        <img style='width: 100%' src='' alt='banner bottom right' />
                    </a>
                </div>
            </div>
            <div class='clearfix'></div>
        </div>

    </section>

    

</section>