<main
    class='d-block'
    style='
    margin-top: 92px;
    margin-left: 270px;
    margin-bottom: 24px;
'
>
    <div class='container'>
        <div class='jxsJml'>
           
            <div>
                <div class='heading-wrapper'>
                    <div class='heading-container'>
                        <img src='/img/heading-img-1-left.svg' alt='Heading One' class='heading-image' />
                        <h2 class='heading-secondary'>Sự kiện nổi bật</h2>
                        <div class='divider'>

                        </div>
                        <img class="ml-2" src='/img/heading-img-1-right.svg' alt='Heading Two' class='lzaKD' />
                        {{!-- <img src='/img/heading-img-1-mobile.svg' alt='Heading Mobile' class='dAFUHy' /> --}}
                    </div>
                </div>
                <section class='jEmGwi'>
                    <div class='container'>
                        <div class='row'>
                            {{#each events}}
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='/events/{{slug}}'
                                
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='{{banner}}'
                                        alt='{{name}}'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>{{name}}</h4>
                                    <div class='card-ticket-date'>{{occur_date}}</div>
                                    <div class='card-ticket-type'>{{#each categories}}{{name}} {{/each}}</div>
                                </a>
                            </div>
                            {{/each}}
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='/booking/ticketDetail'
                                    target='_blank'
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2022/10/23/0574BD.jpg'
                                        alt='Kịch IDECAF: 12 BÀ MỤ'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>Kịch IDECAF: 12 BÀ MỤ</h4>
                                    <div class='card-ticket-date'>07/04/2023</div>
                                    <div class='card-ticket-type'>Theater &amp; Plays</div>
                                </a>
                            </div>
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='https://ticketbox.vn/event/ntpmmsaigon-86616?opm=tbox.home.hot.2'
                                    target='_blank'
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/12/8373D7.jpg'
                                        alt='[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023</h4>
                                    <div class='card-ticket-date'>20/05/2023</div>
                                    <div class='card-ticket-type'>Live Music</div>
                                </a>
                            </div>
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='https://ticketbox.vn/event/ntpmmsaigon-86616?opm=tbox.home.hot.2'
                                    target='_blank'
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/12/8373D7.jpg'
                                        alt='[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023</h4>
                                    <div class='card-ticket-date'>20/05/2023</div>
                                    <div class='card-ticket-type'>Live Music</div>
                                </a>
                            </div>
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='/booking/ticketDetail'
                                    target='_blank'
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/28/104D01.jpg'
                                        alt='THE LEGEND CONCERT 01 &quot;TRỊNH CÔNG SƠN&quot;'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>THE LEGEND CONCERT 01 "TRỊNH CÔNG SƠN"</h4>
                                    <div class='card-ticket-date'>09/04/2023</div>
                                    <div class='card-ticket-type'>Live Music</div>
                                </a>
                            </div>
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='/booking/ticketDetail'
                                    target='_blank'
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2022/10/23/0574BD.jpg'
                                        alt='Kịch IDECAF: 12 BÀ MỤ'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>Kịch IDECAF: 12 BÀ MỤ</h4>
                                    <div class='card-ticket-date'>07/04/2023</div>
                                    <div class='card-ticket-type'>Theater &amp; Plays</div>
                                </a>
                            </div>
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='https://ticketbox.vn/event/ntpmmsaigon-86616?opm=tbox.home.hot.2'
                                    target='_blank'
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/12/8373D7.jpg'
                                        alt='[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023</h4>
                                    <div class='card-ticket-date'>20/05/2023</div>
                                    <div class='card-ticket-type'>Live Music</div>
                                </a>
                            </div>
                            <div class='col-6 col-sm-4 col-md-4 col-lg-3 mt-3'>
                                <a
                                    href='https://ticketbox.vn/event/ntpmmsaigon-86616?opm=tbox.home.hot.2'
                                    target='_blank'
                                    rel='noopener noreferrer'
                                    class='card-ticket-wrapper'
                                >
                                    <img
                                        src='https://images.tkbcdn.com/1/780/300/Upload/eventcover/2023/03/12/8373D7.jpg'
                                        alt='[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023'
                                        lazy='lazy'
                                        class='card-ticket-img'
                                    />
                                    <h4 class='card-ticket-heading'>[Sài Gòn] Những Thành Phố Mơ Màng - Summer Tour 2023</h4>
                                    <div class='card-ticket-date'>20/05/2023</div>
                                    <div class='card-ticket-type'>Live Music</div>
                                </a>
                            </div>

                        </div>
                    </div>
                </section>
                <div class='xemthem-container'>
                    <button class='xemthem-btn large primary' width='0'>Xem thêm</button>
                </div>
            </div>
            <div class='heading-wrapper'>
                <div class='heading-container'>
                    <img src='/img/home-leftmovie-desktop.svg' alt='Heading One' class='heading-image' />
                    <h2 class='heading-secondary'>Phim chiếu rạp</h2>
                    <div class='divider'>

                    </div>
                    <img src='/img/home-rightmovie-desktop.svg' alt='Heading Two' class='lzaKD' />
                    <img src='/img/home-movie-mobile.svg' alt='Heading Mobile' class='dAFUHy' />
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6 col-lg-3 col-xl-3'>
                    <div class='card-thumbnail-wrapper'>
                        <div class='card-thumbnail-container'>
                            <img
                                src='https://images.tkbcdn.com/2/420/600/poster/5e8bffd7-81db-11ed-b1b2-0242ac110004@webp'
                                alt='NHÀ BÀ NỮ'
                                lazy='lazy'
                                class='card-thumbnail-img'
                            />
                            <div class='card-thumbnail-info'>
                                <div class='dvxxyr'>
                                    <button class='card-thumbnail-caption large tertiary' width='0'>Xem chi tiết</button>
                                </div>
                                <div class='dvxxyr card-thumbnail-buy'>
                                    <button
                                        class='card-thumbnail-caption large primary'
                                        width='0'
                                        style='width: 100%; height: 100%;'
                                    >Mua vé</button>
                                </div>
                            </div>
                        </div>
                        <div class='dDmCsh'>
                            <h4 class='card-ticket-heading' style='padding-top: 4px;'>NHÀ BÀ NỮ</h4>
                            <span class='gHwKKv'>NHÀ BÀ NỮ</span>
                            <div class='fiKEtN'>
                                <span>C16</span>
                                <span>1 giờ 40 phút</span>
                            </div>
                        </div>
                        <div class='vyKIM'>
                            <button
                                class='card-thumbnail-caption small primary'
                                width='0'
                                style='width: 100%; height: 100%;'
                            >Mua</button>
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-lg-3 col-xl-3'>
                    <div class='card-thumbnail-wrapper'>
                        <div class='card-thumbnail-container'>
                            <img
                                src='https://images.tkbcdn.com/2/420/600/poster/5e8bffd7-81db-11ed-b1b2-0242ac110004@webp'
                                alt='NHÀ BÀ NỮ'
                                lazy='lazy'
                                class='card-thumbnail-img'
                            />
                            <div class='card-thumbnail-info'>
                                <div class='dvxxyr'>
                                    <button class='card-thumbnail-caption large tertiary' width='0'>Xem chi tiết</button>
                                </div>
                                <div class='dvxxyr card-thumbnail-buy'>
                                    <button
                                        class='card-thumbnail-caption large primary'
                                        width='0'
                                        style='width: 100%; height: 100%;'
                                    >Mua vé</button>
                                </div>
                            </div>
                        </div>
                        <div class='dDmCsh'>
                            <h4 class='card-ticket-heading' style='padding-top: 4px;'>NHÀ BÀ NỮ</h4>
                            <span class='gHwKKv'>NHÀ BÀ NỮ</span>
                            <div class='fiKEtN'>
                                <span>C16</span>
                                <span>1 giờ 40 phút</span>
                            </div>
                        </div>
                        <div class='vyKIM'>
                            <button
                                class='card-thumbnail-caption small primary'
                                width='0'
                                style='width: 100%; height: 100%;'
                            >Mua</button>
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-lg-3 col-xl-3'>
                    <div class='card-thumbnail-wrapper'>
                        <div class='card-thumbnail-container'>
                            <img
                                src='https://images.tkbcdn.com/2/420/600/poster/5e8bffd7-81db-11ed-b1b2-0242ac110004@webp'
                                alt='NHÀ BÀ NỮ'
                                lazy='lazy'
                                class='card-thumbnail-img'
                            />
                            <div class='card-thumbnail-info'>
                                <div class='dvxxyr'>
                                    <button class='card-thumbnail-caption large tertiary' width='0'>Xem chi tiết</button>
                                </div>
                                <div class='dvxxyr card-thumbnail-buy'>
                                    <button
                                        class='card-thumbnail-caption large primary'
                                        width='0'
                                        style='width: 100%; height: 100%;'
                                    >Mua vé</button>
                                </div>
                            </div>
                        </div>
                        <div class='dDmCsh'>
                            <h4 class='card-ticket-heading' style='padding-top: 4px;'>NHÀ BÀ NỮ</h4>
                            <span class='gHwKKv'>NHÀ BÀ NỮ</span>
                            <div class='fiKEtN'>
                                <span>C16</span>
                                <span>1 giờ 40 phút</span>
                            </div>
                        </div>
                        <div class='vyKIM'>
                            <button
                                class='card-thumbnail-caption small primary'
                                width='0'
                                style='width: 100%; height: 100%;'
                            >Mua</button>
                        </div>
                    </div>
                </div>
                <div class='col-md-6 col-lg-3 col-xl-3'>
                    <div class='card-thumbnail-wrapper'>
                        <div class='card-thumbnail-container'>
                            <img
                                src='https://images.tkbcdn.com/2/420/600/poster/5e8bffd7-81db-11ed-b1b2-0242ac110004@webp'
                                alt='NHÀ BÀ NỮ'
                                lazy='lazy'
                                class='card-thumbnail-img'
                            />
                            <div class='card-thumbnail-info'>
                                <div class='dvxxyr'>
                                    <button class='card-thumbnail-caption large tertiary' width='0'>Xem chi tiết</button>
                                </div>
                                <div class='dvxxyr card-thumbnail-buy'>
                                    <button
                                        class='card-thumbnail-caption large primary'
                                        width='0'
                                        style='width: 100%; height: 100%;'
                                    >Mua vé</button>
                                </div>
                            </div>
                        </div>
                        <div class='dDmCsh'>
                            <h4 class='card-ticket-heading' style='padding-top: 4px;'>NHÀ BÀ NỮ</h4>
                            <span class='gHwKKv'>NHÀ BÀ NỮ</span>
                            <div class='fiKEtN'>
                                <span>C16</span>
                                <span>1 giờ 40 phút</span>
                            </div>
                        </div>
                        <div class='vyKIM'>
                            <button
                                class='card-thumbnail-caption small primary'
                                width='0'
                                style='width: 100%; height: 100%;'
                            >Mua</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='xemthem-container'>
                <button class='xemthem-btn large primary' width='0'>Xem thêm</button>
            </div>
        </div>
    </div>
</main>